# {{ ansible_managed }}

[Unit]
Description=Node Exporter service
Wants=network.target
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/node_exporter --web.telemetry-path="{{ node_exporter.path_metrics }}" \
  --web.listen-address=":{{ node_exporter.port }}"
Restart=on-failure
KillMode=process
# Logging
SyslogIdentifier=node_exporter
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
